<script>
    Vue.component('home-nav', {
        template: `
  <div>
  <nav class="nav-wrapper purple darken-1">
  <div class="container">
    <a href="" class="sidenav-trigger white-text lighten-5"  id="menu-btn" data-target="mobile-menu"> 
      <i class=" material-icons" data-aos="fade-right"  data-aos-duration="1000" data-aos-easing="ease-in-sine" >menu</i></a> 
      <a href="/" class="brand-logo brand hide-on-med-and-down" id="page-title-l" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000" >
       <img src="assets/logo1.jpeg" alt="" style="width: 5%; height: 50px; margin-top: 10px;"/>
    </a>
    <a href="" style="text-decaration=none.>HiLife.ai</a>
    <div class="mobileshow">
    <ul class="right hide-on-large-only">
    <li>
        <a  href="/login" id="login-link" >Login</a>
      </li>
      <li>
        <a href="/register" id="register-link" >Sign Up</a>
      </li>
    </ul>
  </div>
    <a href="/"  class="brand-logo brand hide-on-large-only"  id="page-title-s" >
      <img src="assets/logo1.jpeg" alt="" style="width: 50px; height: 50px; margin-top: 10px;"/>
    </a>

    <ul class="right hide-on-med-and-down"  data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000" >
      <li> <a class="dropdown-trigger" href="#!" data-target="dropdown1" >Find More</a>
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!">Call for proposal</a></li>
          <li><a href="#!">Call for papers</a></li>
          <li><a href="#!">Call for fellowship</a></li>
          <li><a href="#!">Events</a></li>
        </ul>
      </li>
      <li>
        <a href="/login" id="login-link">Our Pricing</a>
      </li>
      <li>
        <a  href="/login" id="login-link" >Login</a>
      </li>
      <li>
        <a href="/register" id="register-link" >Sign Up</a>
      </li>
    </ul>
  </div>
</nav>


<ul class="sidenav purple darken-1" id="mobile-menu">
  <li>
    <div class="user-view">
      <div class="background white darken-4">
        <img src="assets/logo1.jpeg"  alt="" style="width: 50px; height: auto;" />
      </div>
      <a href="javascript:void(0);"  class="circle sidenav-close" id="close-menu">
        <i class="white-text text-accent-3 left material-icons">close</i></a>
      <a href="#name"><span class="teal-text name">Developed By</span></a>
      <a href="#email"><span class="teal-text email">HiLife</span></a>
    </div>
  </li>
  <li>
    <a href="/" class="white-text sidenav-close" id="home-link-s"> <i class="lime-text text-accent-4 left material-icons">home</i> Home</a>
  </li>
  <li>
    <a href="/login" class="white-text sidenav-close" id="home-link-s">
      <i class="lime-text text-accent-4 left material-icons">home</i>
      Call for proposal</a>
  </li>
  <li>
    <a href="/login" class="white-text sidenav-close" id="home-link-s">
      <i class="lime-text text-accent-4 left material-icons">home</i>
      Call for Fellowhip</a>
  </li>
  <li>
    <a href="/login" class="white-text sidenav-close" id="home-link-s">
      <i class="lime-text text-accent-4 left material-icons">home</i>
      Call for Papers</a>
  </li>
</ul>
</div>
  `
    });
    var app = new Vue({
        el: "#root",
        mounted: function() {
            AOS.init();
            $('.sidenav').sidenav();
        }
    });
</script>