<script>
    Vue.component('fellowship-existing',{
        props:['fellowshiptype-list','university-list'],
        template:`
        <div> <!-- WRALL ALL THE BELOW INTO SINGLE ROOT -->
        
        <div v-if="!isLoaded" class=" container center">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>  
        <div class="row">
          <form class="col s12">
            <div class="input-field col s12 l12">
              <i class="material-icons prefix">search</i>
              <input id="icon_prefix" type="text" class="validate" v-model="search">
              <label for="icon_prefix">Search</label>
            </div>
          </form>
            <div class="input-field col s12 l6">
                <select v-model="selectedfellowshiptype">
                    <option value="" selected>Filter By Discipline</option>
                    <template v-for="fellowship in fellowshiptypeList">
                        <option :value="fellowship._id">{{ fellowship.name }}</option>
                    </template>
                </select>
                <label class="purple-text text-darken-1">Discipline</label>
            </div>
            <div class="input-field col s12 l6">
              <select v-model="selecteduniversity">
                <option value="" selected>Filter By Degree</option>
                <template v-for="university in universityList">
                    <option :value="university._id">{{ university.name }}</option>
                </template>
              </select>
              <label class="purple-text text-darken-1">Degree</label>
            </div>
        </div>  
        <div v-if="filtereddata.length === 0">
            <div class=" row center">
                <div class="col s6 l4 offset-l4 offset-s3">
                    <img src="/assets/Not_Found.svg" class="responsive-img"/>
                </div>
            </div>
            <div class=" row center">
                <div class="col s12 l12">
                    <h5> No results.... </h5>
                </div>
            </div>
        </div>
        <div class="container" v-else>
            <ul class="collapsible">
                <template v-for="item in filtereddata" v-if>
                    <fellow-collapsible @clicked="accepting" :eachrow="item" :fellowshiptype-list="fellowshiptypeList" :university-list="universityList"></fellow-collapsible>
                </template>
            </ul>
        </div>
        </div><!-- WRAP ALL THE ABOVE INTO A SINGLE ROOT -->
        <div class="modal modal-fixed-footer" id="fellowshipmodal">
        <form id="fellowshipeditform" @submit.prevent="submit">
                
                    <div class="row modal-content">
                        <div class="container">
                            <div class="col s12 l12 input-field">
                                <input id="title" name="researchtopic" type="text" :value="formeachrow.researchtopic">
                                <label class="active" for="title">Research Topic</label>
                            </div>
                            <div class="col s12 l12 input-field">
                                <input id="description" name="description" type="text" :value="formeachrow.description" >
                                <label class="active" for="description">Description</label>
                            </div>
                            <div class="input-field active col s12 l12">
                               <select name="typeoffellowshipId" required>
                                    <option value="" selected disabled>Select Discipline</option>
                                    <template v-for="fellowship in fellowshiptypeList">
                                        <option :value="fellowship._id" :selected="typeof formeachrow.typeoffellowship === 'undefined' ? false : shouldSelect(formeachrow.typeoffellowship._id,fellowship._id)" >{{ fellowship.name }}</option>
                                    </template>
                                </select>
                                <label class="">Discipline</label>
                            </div>
                            <div class="input-field col s12 l12">
                                 <select name="universityId" required >
                                    <option value="" selected disabled>Select Degree</option>
                                    <template v-for="university in universityList">
                                        <option :value="university._id"  :selected="typeof formeachrow.university === 'undefined'? false : shouldSelect(formeachrow.university._id,university._id)"> {{ university.name }}</option>
                                    </template>
                                </select>
                                <label class="">Degree</label>
                            </div>
                            <div class="col s12 l12 input-field">
                                <textarea id="file" name="link" type="text" class="materialize-textarea" :value="formeachrow.link"></textarea>
                                <label for="file">File</label>
                            </div>
                            <div class="col s12 l6">
                                <input type="text" name="publishdate" class="datepicker" id="sdate" :value="(new Date(formeachrow.publishdate)).getFullYear() + '-' + ((new Date(formeachrow.publishdate)).getMonth()+1) + '-' + (new Date(formeachrow.publishdate)).getDate()">
                                <label for="sdate">Published Date</label>
                            </div>
                            <div class="col s12 l6">
                                <input type="text" name="lastdateapplication" class="datepicker" id="edate" :value="(new Date(formeachrow.lastdateapplication)).getFullYear() + '-' + ((new Date(formeachrow.lastdateapplication)).getMonth()+1) + '-' + (new Date(formeachrow.lastdateapplication)).getDate()">
                                <label for="edate">Last Date of Application</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0)" class="btn-flat white-text red darken-3 modal-close"><i class="material-icons left">close</i> Cancel</a>
                        <button type="submit" class="btn-flat white-text green modal-close"><i class="material-icons left">save</i> Save Changes</button>
                    </div>
                </form>
            </div>
            
                
        </div>
        `,
        data(){
            return{
                callData:[],
                errored:false,
                isLoaded:false,
                search:'',
                selectedfellowshiptype:'',
                selecteduniversity:'',
                formeachrow:{}
            }
        },
        methods:{
            accepting:function(value){
                this.formeachrow=value;
                var form = document.getElementById('fellowshipeditform');
                
                var modal = document.getElementById("fellowshipmodal");

                var instance = M.Modal.init(modal,{
                    onOpenStart :()=>{
                        M.textareaAutoResize(form.link);
                        M.updateTextFields();
                    }
                });
                // console.log(form.unversityId);
                // for (let i = 0; i < form.unversityId.options.length; i++) {
                //     if(form.unversityId.options[i].value == this.formeachrow.university._id)
                //         form.unversityId.options[i].selected = true;
                // }
                // var i =0;
                // for (i = 0; i < form.typeoffellowshipId.options.length; i++) {
                //     if(form.typeoffellowshipId.options[i].value == this.formeachrow.typeoffellowship._id){
                //         console.log('Hello');
                //         form.typeoffellowshipId.options[i].selected = true;
                //         break;
                //     }
                // }
                //form.typeoffellowshipId.selectedIndex = i.toString();
                // form.typeoffellowshipId.options.forEach((option)=>{
                //     if(option.value === this.formeachrow.)
                // });
                // $('select') ??$('select').formSelect();
                
                instance.open();
            },
            submit: function (event) {
                var object = {};
                object['_id'] = this.formeachrow._id;
                (new FormData(event.target)).forEach(function (value, key) {
                    object[key] = value;
                });
                console.log("Form Data:", object);
                Swal.fire({
                    title: 'Are you sure you want to edit this record ?',
                    showCancelButton: true,
                    icon: 'info',
                    confirmButtonText: 'Confirm',
                    showLoaderOnConfirm: true,
                    preConfirm: (login) => {
                        console.log("reached axios");
                        return axios.post('/profile/addOrChangeCallForFellowship',
                            object).then((res) => { return res }).catch(err => console.log(err))
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    // what are you returning ? if it's an error we need to show appropriate msg to user   
                    if (result.value.data === "Fellowship edited successfully") {
                        Swal.fire(
                            {
                                title: "Fellowship was edited successfully!!",
                                text: "The fellowship was edited successfully!",
                                showConfirmButton: true,
                                confirmButtonText: 'Reload the page to see details!',
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                allowEnterKey: false,
                                icon: 'success'
                            }
                        ).then((res) => {
                            console.log(res);

                            if (res.isConfirmed) {
                                location.reload();
                            }
                        })
                    }
                    else if (result.value.data === "Fellowship not found!!!") {
                        Swal.fire(
                            'Unable to process request',
                            'Fellowship Not found.',
                            'error'
                        )
                    }
                    else if (result.value.data === "Insufficient data !!") {
                        Swal.fire(
                            'Insufficient data !',
                            'Check all the fields of the form',
                            'warning'
                        )
                    }
                    else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.fire(
                            'Cancelled',
                            'No changes made',
                            'error'
                        )
                    }
                });
            },
            shouldSelect : function(value1, value2){
                if(typeof value1 === "undefined")
                    return false
                else if(value1 === value2){
                    return true
                }
                else{
                    return false
                }
            }
        },
    beforeMount: function(){
        
        
    },
    mounted: function(){
        $('select').formSelect();
       
        // $('.modal').modal({
        //     onOpenStart : function(){
        //         $('.datepicker').datepicker({
        //             format:"yyyy-mm-dd",
        //             container: 'body'
        //         });
        //     }
        // });
        axios
            .get('/profile/getFellowships')
            .then(response => {
                this.callData = response.data.fellowships;
            })
            .catch(error => {
                console.log(error)
                this.errored = true
            })
            .finally(() => this.isLoaded = true);
         
    },
    computed: {
            filtereddata: function () {
                var ele = this.callData.filter((para) => {
                    return para.researchtopic.toUpperCase().match(this.search.toUpperCase()) &&
                        para.typeoffellowship._id.toUpperCase().match(this.selectedfellowshiptype.toUpperCase()) &&
                        para.university._id.toUpperCase().match(this.selecteduniversity.toUpperCase());
                });
                //document.getElementById('fellowshipbadge').innerText = ele.length;
                if(ele.length){
                    $('.collapsible').collapsible();
                    $('select').formSelect();
                    // $('.modal').modal({
                    //     onOpenStart : function(){
                    //         $('.datepicker').datepicker({
                    //             format:"yyyy-mm-dd",
                    //             container: 'body'
                    //         });
                    //     }
                    // });
                }
                return ele;
            }
        }
        
    });
    Vue.component('fellow-collapsible',{
        props:["eachrow", "fellowshiptype-list","university-list"],
        template:`
            <li>
                <div class="collapsible-header">
                    <i class="material-icons purple-text text-darken-1">expand_more</i>{{ eachrow.researchtopic }}
                </div>
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col s12 l6 "> <img src="assets/test.jpeg" alt="" class="responsive-img"> </div>
                        <!--<div class="col s12 l6"> <b>Research Topic :</b> </div>
                        <div class="col s12 l6">{{ eachrow.researchtopic }}</div>-->
                        <div class="col s12 l6"> <b>Description :</b> </div>
                        <div class="col s12 l6">{{ eachrow.description }}</div>
                        <div class="col s12 l6"> <b>Degree :</b> </div>
                        <div class="col s12 l6">{{ eachrow.typeoffellowship.name }}</div>
                        <div class="col s12 l6 "> <b>Discipline :</b> </div>
                        <div class="col s12 l6 ">{{ eachrow.university.name }}</div>  
                        <div class="col s12 l6 " style="align-centre;"><a :href="eachrow.link" class="btn waves-effect waves-purple white-text purple">Find More</a></div>
      
                    </div>
                    <div class="row">
                        <div class="col s12 l6"> <b>Published Date :</b>
                            {{ (new Date(eachrow.publishdate)).getDate() + '/' + ((new Date(eachrow.publishdate)).getMonth()+1) + '/' + (new Date(eachrow.publishdate)).getFullYear() }}
                        </div>
                        <div class="col s12 l6 push-l2"><b>Last Date :</b>
                            {{ (new Date(eachrow.lastdateapplication)).getDate() + '/' + ((new Date(eachrow.lastdateapplication)).getMonth()+1) + '/' + (new Date(eachrow.lastdateapplication)).getFullYear() }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 l6">
                            <a @click.prevent="$emit('clicked',eachrow)" href="fellowshipmodal" class="btn waves-effect waves-light orange darken-3 white-text left modal-trigger"><i
                                    class="material-icons left">edit</i>Edit</a>
                        </div>
                        <div class="col s6 l6">
                            <a @click.prevent="deletedata" href="#" class="btn waves-effect waves-light  right red darken-3"><i class="material-icons left">delete</i>Delete</a>
                        </div>
                    </div>
                </div>
            </li>
        `,
        data(){
            return{

            }
        },
        methods:{
            deletedata:function(){
                Swal.fire({
                    title: 'Are you sure you want to delete this fellowship ?',
                    showCancelButton: true,
                    icon: 'info',
                    confirmButtonText: 'Confirm',
                    showLoaderOnConfirm: true,
                    preConfirm: (login) => {
                        console.log("reached axios");
                        return axios.post('/profile/deleteCallForFellowship', { _id: this.eachrow._id }).then((res) => {  return res  }).catch(err => console.log(err))
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    // what are you returning ? if it's an error we need to show appropriate msg to user   
                    if (result.value.data === "Deleted Successfully!!") {
                        Swal.fire(
                            {
                                title: "Fellowship deleted !!",
                                text: "The fellowship was deleted successfully.",
                                showConfirmButton: true,
                                confirmButtonText: 'Reload the page to see changes',
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                allowEnterKey: false,
                                icon: 'success'
                            }
                        ).then((res) => {
                            console.log(res);

                            if (res.isConfirmed) {
                                location.reload();
                            }

                        })
                    }
                    else if (result.value.data === "Fellowship not found!!!") {
                        Swal.fire(
                            'Unable to process request',
                            'Fellowship Not found.',
                            'error'
                        )
                    }
                    else if (result.value.data === "Insufficient data !!") {
                        Swal.fire(
                            'Insufficient data !',
                            'Select fellowship properly',
                            'warning'
                        )
                    }
                    else if (result.dismiss === Swal.DismissReason.cancel) {
                        Swal.fire(
                            'Cancelled',
                            'No changes made',
                            'error'
                        )
                    }
                });  
            }
        },
        passing:function(event){
            this.$emit('clicked',this.eachrow);
        },
        mounted:function(){
            // $('.modal').modal();
            $('.collapsible').collapsible();
            // $('.datepicker').datepicker({
            //     container: 'body'
            // })
        },
        
    });
</script>