<script>
  Vue.component('footer-end',{
    template:`
      <div style="position:fixed; bottom:0; width: 100%;" class="footer-copyright purple darken-1">
      <div  style="color:white;" class="container">
        © 2020-21 HiLife.Ai. All rights reserved.
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
      </div>
    `
  });
</script>